<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather and Currency Converter - Home</title>
    </head>
    <body>
        <h2>Weather Now - Latest</h2>
        <form action="showWeather" method="get">
            Enter country:
            <input type="text" name="country" placeholder="country">
            <br><br>
            <input type="submit" value="Get Weather">
        </form>
        <br>
        <br>
        <br>
        <h2>Currency Converter</h2>
        <form action="showConverter" method="get">
            From:
            <select name="from">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="JPY">JPY</option>
                <option value="GBP">GBP</option>
                <option value="AUD">AUD</option>
                <option value="CND">CND</option>
                <option value="SGD">SGD</option>
                <option value="MYR">MYR</option>
            </select>
            To:
            <select name="to">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="JPY">JPY</option>
                <option value="GBP">GBP</option>
                <option value="AUD">AUD</option>
                <option value="CND">CND</option>
                <option value="SGD">SGD</option>
                <option value="MYR">MYR</option>
            </select>            <br><br>
            Amount: <input type="text" name="amount" placeholder="Amount">
            <input type="submit" value="Change Currency">
        </form>

        <br><br>
        <!-- <form action="showTrafficCam" > -->
        <form
        action="#"
        th:action="@{/showTrafficCam}"
        th:object="${options}"
        method="post">

        <!-- 3.1 Option without selection -->
        <!-- https://www.baeldung.com/thymeleaf-select-option -->
        <select th:field="*{option}">  <!-- th:field value maps to POJO -->
            <option  value="0">select option</option>
            <!-- th:value will be returned to controller, will return to attribute mapped by th:field -->
            <option th:each="eaOption : *{options}" th:value="${eaOption.option}" ><span th:text="${eaOption.getOption()}"></span></option>
        </select>        
        <input type="submit" value="show traffic camera" />
        </form>
    </body>
</html>