<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather and Currency Converter - Home</title>
    </head>
    <body>
        <h2>Weather Now</h2>
        <form action="showWeather" method="get">
            Enter country:
            <input type="text" name="country" placeholder="country">
            <br><br>
            <input type="submit" value="Get Weather">
        </form>
        <br>
        <br>
        <br>
        <h2>Currency Converter</h2>
        <form>
            From:
            <select>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="JPY">JPY</option>
                <option value="GBP">GBP</option>
                <option value="AUD">AUD</option>
                <option value="CND">CND</option>
                <option value="SGD">SGD</option>
            </select>
            &ampTo:
            <select>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="JPY">JPY</option>
                <option value="GBP">GBP</option>
                <option value="AUD">AUD</option>
                <option value="CND">CND</option>
                <option value="SGD">SGD</option>
            </select>            <br><br>
            <input type="submit" value="Change Currency">
        </form>
    </body>
</html>